@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('recursos/fontes/android/idroid.otf') format(truetype);
    font-weight: normal;
    font-style: normal;

}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-image: linear-gradient(green, #388659, #52AA5E, #52AA8A);

}

header>ul {
    list-style-type: none;
    display: flex;
    gap: 10px;

}

ul:hover {
    color: black;
}

h2,
h3 {
    color: rgb(2, 59, 2);
    font-family: 'android', Arial, sans-serif;
}

h3 {
    background-color: #52AA8A;
}

main {
    text-align: center;
    background-color: white;
    padding: 100px;

}

footer {
    color: white;
    text-align: center;
    background-color: rgb(4, 62, 4);
}